body, html {
	height: 100%;
	width: 100%;
}

body {
	background: url(../images/site-bg.png);
	font: normal 1em 'fira_sanslight' sans-serif;
	min-width: 1400px;
	color: #4a545d;
}

.sprite {
    /* background-image: url(spritesheet.png); */
    background-repeat: no-repeat;
    display: block;
    content: " ";
    background-image: url(../images/spritesheet.png);
}

.wrapper {
	overflow: hidden; /*нужен, чтобы за него можно было прятать другие элементы*/
	position: relative;
	min-height: 100%;
}

/* HEADER */

.header {
	position: relative;
	height: 119px;
	width: 100%;
	background-color: #eff3f7;
	margin-bottom: 39px;
}

.container {
	position: relative;
	width: 1400px;
	margin: 0 auto;
}

.container-header {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	height: 116px;
}

.logo {
	position: absolute;
    top: 50%;
    margin-top: -21px;
    left: 0px;
    height: 42px;
  }

 .logo-pic-text {   /* этими свойствами можно спрятать текст */
 	position: absolute; 
 	left: -9999px; 
 }

.logo-link {
    display: block;
    height: inherit;
}

.socials {
	list-style: none;
	position: absolute;
	top: 50%;
	margin-top: -23.5px;
	right: 0px;
	height: 47px;
	padding: 0;
	margin-bottom: 0;
}

.socials-item {
	display: inline-block;
	margin-left: 20px;
}

.socials-item:first-child {
    margin-left: 0;
}

.socials-link {
	text-decoration: none;
}

.ico-text {        /* этими свойствами можно спрятать текст */
    position: absolute;
    right: -9999px;
}

.sprite-ico-vk {
    width: 47px;
    height: 47px;
    background-position: -5px -161px;
}

.sprite-ico-vk:hover {
    width: 47px;
    height: 47px;
    background-position: -62px -161px;
}

.sprite-ico-tw {
    width: 47px;
    height: 47px;
    background-position: -180px -5px;
}

.sprite-ico-tw:hover {
    width: 47px;
    height: 47px;
    background-position: -176px -62px;
}

.sprite-ico-fb {
    width: 47px;
    height: 47px;
    background-position: -93px -5px;
}

.sprite-ico-fb:hover {
    width: 47px;
    height: 47px;
    background-position: -5px -62px;
}

.sprite-ico-git {
    width: 47px;
    height: 47px;
    background-position: -62px -62px;
}

.sprite-ico-git:hover {
    width: 47px;
    height: 47px;
    background-position: -119px -62px;
}

.gradient-line {
height: 3px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff3f7+0,95b9c4+35,1c667a+50,95b9c4+65,eff3f7+100 */
background: #eff3f7; /* Old browsers */
background: -moz-linear-gradient(left,  #eff3f7 0%, #95b9c4 35%, #1c667a 50%, #95b9c4 65%, #eff3f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #eff3f7 0%,#95b9c4 35%,#1c667a 50%,#95b9c4 65%,#eff3f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #eff3f7 0%,#95b9c4 35%,#1c667a 50%,#95b9c4 65%,#eff3f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f7', endColorstr='#eff3f7',GradientType=1 ); /* IE6-9 */
}

/* MAIN-CONTENT */

.main-content {
	position: relative;
	width: 100%;
    margin-bottom: 13px;
}

.container-main {
	position: relative;
	width: 961px;
	margin: 0px auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* SIDEBAR */

.sidebar {
	float: left;
	width: 250px;
}

/* NAV */

.nav {
	margin-bottom: 23px;
	border-radius: 3px;
	background-color: #eff3f7;
}

.nav-list {
	list-style: none;
	padding: 0;
    margin: 0;
}

.nav-item {
	padding: 18px 0;
	margin: 0 10px;
	border-top: 2px solid #3ba8c0;
}

.nav-item-active {
	background: #3ba8c0;
	margin: 0;
    border-bottom: none;
    padding-left: 10px;
    margin-bottom: -2px;
}

.nav-item:first-child {
    border-top: none;
}

.nav-link {
	text-decoration: none;
	color: #959aa8;
	font-size: 23px;
	width: 194px;
	margin-left: 16px;
    padding: 20px 0px;
}

.nav-link:hover {
	color: #3ba8c0;
}

.nav-link:active {
	color: #ffffff;
}

/* CONTACTS */

.contacts {
	margin-bottom: 23px;
	border-radius: 3px;
}

.contacts-title {
	color: #ffffff;
	background-color: #3ba8c0;
	padding: 11px 20px 0px;
	font-size: 21px;
	border-radius: 3px 3px 0 0;
}

.contacts-list {
	list-style: none;
	padding: 0;
    margin: 0;
}

.contacts-item {
	padding: 8px 42px;
	position: relative;
}

.contacts-item-email {
	background-color: #41b9d4;
}

.sprite-ico-mail {
    width: 21px;
    height: 16px;
    background-position: -57px -119px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.contacts-item-phone {
	background-color: #48cbe8;
}

.sprite-ico-phone {
    width: 19px;
    height: 21px;
    background-position: -124px -119px;
    position: absolute;
    top: 50%;
    margin-top: -10.5px;
}

.contacts-item-skype {
	background-color: #51daf8;
	border-radius: 0 0 3px 3px;
}

.sprite-ico-skype {
    width: 20px;
    height: 20px;
    background-position: -153px -119px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.contacts-link {
	text-decoration: none;
	color: #ffffff;
	font-size: 17px;
	margin-left: 20px;
	cursor: pointer;
	float: right;
	width: 125px;
	line-height: 25px;
}

.contacts-link:hover {
	text-decoration: underline;
}

/*ABOUT */

.page-content {
	float: right;
	width: 650px;
}

/* FOOTER */
.empty {
	height: 78px; /*высота блока футер + ширина бордера*/
}

.footer {
	height: 78px;
	margin-top: -78px;
	background-color: #eff3f7;
	/* position: relative; */
	width: 100%;
}

.container-footer {
	position: relative;
	width: 901px;
	margin: 0 auto;
	height: 75px;
}

.sprite-ico-lock {
    width: 20px;
    height: 32px;
    background-position: -150px -5px;
    float: left;
    cursor: pointer;
    margin-right: 234px;
    margin-top: 21.5px;
}

.sprite-ico-lock:hover {
    width: 20px;
    height: 32px;
    background-position: -183px -119px;
}

.copyright {
	/* position: absolute;
	top: 50%;
	margin-top: -6.5px; */
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 75px;
	font-size: 13px;
	width: 410px;
}

/*для валидации*/

.has-error {
	background-color: #fad2d1 !important;
	border-color: #f97e76 !important;
}

.has-success {
	background-color: none;
	border-color: #3c763d;
}

/*тултипы*/

.qtip-mystyle {
	background-color: #f97e76;
	font-family: 'fira_sanslight';
	color: #ffffff;
	font-size: 13px;
	min-width: 130px;
	border-color: #f97e76;
}

/*placeholder for IE8 */
.placeholder {
	color: #5acee9;
}